.gamesRow {
  margin-bottom: 5rem;
  .title {
      padding-bottom: 3rem;
  }
  .gamesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 3rem 2rem;
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}