.gameDetail {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 5;
  .detailWrapper {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 4rem;
    position: absolute;
    width: 80%;
    height: 95%;
    left: 10%;
    top: 2%;
    z-index: 10;
    .closePop {
      position: absolute;
      top: -10px;
      right: -30px;
      border: none;
      background-color: transparent;
      outline: none;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
      z-index: 10;
    }
  }
  .detail {
    height: 100%;
    overflow-y: scroll;
    color: #000;
    padding: 0 .7rem;
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkslateblue;
      border-radius: 2rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .stats {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-content: space-between;
      grid-gap: 15px;
      .info {
        .platforms {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 15px;
        }
      }
    }
  }
}
