@import './vars.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: $font;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  font-family: $font2;
  font-weight: lighter;
}

h4 {
  font-size: 1rem;
  color: #333;
  padding: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 200%;
  color: #696969;
}

a {
  text-decoration: none;
  color: #333;
}

.pageContainer {
    width: 1600px;
    max-width: 96%;
    margin: 0 auto;
    position: relative;
    padding: 80px 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color;
  // border-radius: 2px;
}